#game-board-lvl-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }

  #game-board-lvl-2 {
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }

  #game-board-lvl-3 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 45rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
  }

  #grid-1 {
      padding: 3px;
  }

  #grid-2 {
      padding: 3px;
  }
  
  #grid-3 {
      padding: 3px;
  }
  
  #grid-4 {
      padding: 3px;
  }
  
  .letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2rem;
    font-weight: 700;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid black;
  }
  
  .letter-row {
    display: flex;
  }