#game-board-lvl-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #game-board-lvl-2 {
      display: flex;
      justify-content: center;
  }

  #game-board-lvl-3 {
      display: flex;
      justify-content: center;
      width: 40rem;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
  }

  #grid-1 {
      margin-left: 3px;
      margin-right: 3px;
      margin-bottom: 3px;
  }

  #grid-2 {
      margin-left: 3px;
      margin-right: 3px;
      margin-bottom: 3px;
  }
  
  #grid-3 {
      margin: 3px;
  }
  
  #grid-4 {
      margin: 3px;
  }
  
  .letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2rem;
    font-weight: 700;
    height: 2.3rem;
    width: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: white;
  }
  
  .filled-box {
    border: 2px solid black;
  }
  
  .letter-row {
    display: flex;
  }

  .game-board-container {
    width: 100%;
    margin-top: 16px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
  }