// entry file for css

// if need to add other style pages, do:
@import './styles/reset.scss';
@import './styles/board.scss';
@import './styles/keyboard.scss';

nav {
    background-color: #333;
}

h1 {
    font-size: 24px;
    text-align: center;
    padding: 15px;
    color: white
}