// entry file for css

// if need to add other style pages, do:
@import './styles/reset.scss';
@import './styles/board.scss';
@import './styles/keyboard.scss';
@import './styles/notie_edits.scss';

nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
}
.nav-left {
    width: 124px;
}
.nav-middle {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 24px;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    color: white;
    padding-left: 16px;
}

.game-container {
    display: flex;
    width: 100%;
}

nav i {
    font-size: 48px;
    color: white;
    margin-right: 16px;
}